@{
    ViewData["Title"] = "Crear Encuesta";
}

<h1>Nueva encuesta</h1>

<div class="tarjeta">
    <form id="encuestaForm" class="formulario">
        <input id="titulo" placeholder="Título"><br>
        <input id="descripcion" placeholder="Descripción"><br>
        <label class="fila-checkbox">
            <input id="es_publica" type="checkbox">
            Encuesta pública
        </label>

        <h3>Preguntas</h3>
        <div id="preguntasContainer"></div>
        <button type="button" id="addPregunta">+ Pregunta</button><br><br>

        <button type="submit">Crear encuesta</button>
    </form>
    <div id="resultado" class="mensaje-error"></div>
</div>

@section Scripts {
    <script src="~/js/crearEncuesta.js"></script>
}
