@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Ort Survey <a asp-action="Registro">Registro</a>.</p>

    <p>Ort Survey <a asp-action="Login">Iniciar sesión</a>.</p>
</div>