@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">




        @if (User?.Identity?.IsAuthenticated ?? false)
        {
            <p>Bienvenido, @User.Identity.Name</p>
            <p>Ort Survey <a asp-action="CrearEncuesta">Crear Encuesta  </a>.</p>
            <button id="botonLogOut">Cerrar sesión</button>
        }
        else
        {
            <p>Debes iniciar sesión para crear encuestas.</p>
            <p>Ort Survey <a asp-action="Registro">Registro</a>.</p>
            <p>Ort Survey <a asp-action="Login">Iniciar sesión</a>.</p>


        }
</div>

@section Scripts {
        <script src="~/js/index-home.js"></script>
}
