razor
@{
    ViewData["Title"] = "Registro";
}

<h1>Crear cuenta</h1>


<form id="registerForm">
    <input id="nombre" placeholder="Nombre"><br>
    <input id="email" placeholder="Email"><br>
    <input id="password" type="password" placeholder="Contraseña"><br>
    <input id="genero" placeholder="Genero"><br>
    <button type="submit">Registrarse</button>
</form>


<div id="resultado"></div>

@section Scripts {
    <script src="~/js/registro.js"></script>
}